<script>
	import { BackgroundRenderer, loadImage, TransitionType, Easings, SlideDirection } from 'midori-bg'
	import { onMount } from 'svelte'

	export let name

	let renderer
	let canvas
	let images = [
		'/milky-way-984050_1280.jpg',
		'/milky-way-923738_1280.jpg'
		]
	let index = 0
	let config = {
		type: TransitionType.Slide,
		config: {
			slides: 1,
			intensity: 5,
			duration: 1.5,
			easing: Easings.Quintic.InOut,
			direction: SlideDirection.Right,
		},
	}

	function nextImg () {
		if (index === images.length - 1)
			index = 0
		else
			index += 1

		loadNextImg()
	}

	function loadNextImg () {
		loadImage(images[index])
			// set background
			.then((image) => renderer.setBackground(image, config))
			// handle errors
			.catch(err => console.error(err))
	}

	onMount(() => {
		// pass in a canvas DOM element
		renderer = new BackgroundRenderer(canvas)

		loadNextImg()
	})
</script>

<main>
	<div>
		<h1>{name}!</h1>
		<p>Visit <a href="https://github.com/aeroheim/midori">Midori's git rep.</a> to learn more.</p>
		<p><button on:click={nextImg}>Change image (Midori transition)</button></p>
	</div>
	<canvas
		bind:this={canvas}
		></canvas>
</main>

<style>
:global(body) {
	margin: 0;
}

div {
	padding: 1em;
	position: absolute;
}

main {
	height: 100vh;
	width: 100vw;
}

canvas {
	height: 100%;
	width: 100%;
}
</style>
